.contextual-dropdown__row{
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: rgb(187, 211, 255);
  }
  
  .contextual-dropdown__row>svg{
    width: 15px;
    
  }
  
