.flex-container {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(185, 185, 185);
    border-radius: 10px;
}
.flex-container>div{
    display: flex;
    align-items: center;
}
.flex-container >div>div>svg {
    margin: .5rem;
    padding: .5rem;
}
.flex-container>div>font{
    font-size: 1rem;
}
